<!-- Preloader -->
<div id="preloader">
  <div class="wrapper">
    <div class="cssload-loader"></div>
  </div>
</div>

<!-- ***** Top Search Area Start ***** -->
<!--
<app-search-top></app-search-top>
-->
<!-- ***** Top Search Area End ***** -->

<app-header></app-header>

<!-- ***** Welcome Area Start ***** -->
<!--
<app-slide-article></app-slide-article>
-->
<!-- ***** Welcome Area End ***** -->

<!-- ***** About Us Area Start ***** -->
<section class="uza-about-us-area" style="margin-top: 100px">
  <div class="container">
    <div class="row align-items-center">

      <!-- About Thumbnail -->
      <div class="col-12 col-md-6">
        <div class="about-us-thumbnail mb-80">
          <img src="../assets/img/zudi/zudimobile-m.png" alt="">
          <!-- Video Area -->
          <div class="uza-video-area hi-icon-effect-8">
            <a href="../assets/img/zudi/intro.mp4" class="hi-icon video-play-btn"><i class="fa fa-play" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>

      <!-- About Us Content -->
      <div class="col-12 col-md-6" dir="rtl" style="text-align: right">
        <div class="about-us-content mb-80">
          <h2> زودي بي </h2>
          <p>
            "زودي" يهدف لنشر الأسعار الحقيقية للعملات، بطاقات السفر، الخدمات السياحية وغيرها، مما يُجنب السائح العربي بصورة عامة والعراقي بصورة خاصة حالات النصب والاحتيال التي أصبحت ظاهرة شائعة. "زودي" مدعوم من مجموعة من الطلاب الإيرانيين والعراقيين في إيران؛ زودي! منكم وإليكم.
          </p>
          <!--
                    <a href="#" class="btn uza-btn btn-2 mt-4" style="float: left">Start Exploring</a>
          -->
        </div>
      </div>
    </div>
  </div>

  <!-- About Background Pattern -->
  <div class="about-bg-pattern">
    <img src="../assets/img/core-img/curve-2.png" alt="">
  </div>
</section>
<!-- ***** About Us Area End ***** -->
<hr>
<!-- ***** Services Area Start ***** -->
<section class="uza-services-area section-padding-80-0" dir="rtl">
  <div class="container">
    <div class="row">
      <!-- Section Heading -->
      <div class="col-12">
        <div class="section-heading text-center">
          <h2>خدمات ما</h2>
        </div>
      </div>
    </div>

    <div class="row">

      <!-- Single Service Area -->
      <div class="col-12 col-lg-4">
        <div class="single-service-area mb-80">
          <!-- Service Icon -->
          <div class="service-icon">
            <img src="../assets/img/zudi/flight.png">
          </div>
          <h5>بلیط هواپیما</h5>
          <p>بلیط هواپیمای خود را به ما بسپارید</p>
        </div>
      </div>

      <!-- Single Service Area -->
      <div class="col-12 col-lg-4">
        <div class="single-service-area mb-80">
          <!-- Service Icon -->
          <div class="service-icon">
            <img src="../assets/img/zudi/coin.png">
          </div>
          <h5>صرافی</h5>
          <p>خدمات تبدیل عرض</p>
        </div>
      </div>

      <!-- Single Service Area -->
      <div class="col-12 col-lg-4">
        <div class="single-service-area mb-80">
          <!-- Service Icon -->
          <div class="service-icon">
            <img src="../assets/img/zudi/train.png">
          </div>
          <h5>خرید بلیط قطار</h5>
          <p>خرید بلیط قطار خود را با ما تجربه کنید.</p>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- ***** Services Area End ***** -->
<hr>

<!-- ***** Newsletter Area Start ***** -->
<app-newsletter></app-newsletter>
<!-- ***** Newsletter Area End ***** -->

<!-- ***** Footer Area Start ***** -->
<app-footer></app-footer>
<!-- ***** Footer Area End ***** -->

<!-- ******* All JS Files ******* -->
<!-- jQuery js -->
<script src="../assets/js/jquery.min.js"></script>
<!-- Popper js -->
<script src="../assets/js/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="../assets/js/bootstrap.min.js"></script>
<!-- All js -->
<script src="../assets/js/uza.bundle.js"></script>
<!-- Active js -->
<script src="../assets/js/default-assets/active.js"></script>
