<!-- ***** About Us Area Start ***** -->
<section class="uza-about-us-area section-padding-80">
  <div class="container">
    <div class="row align-items-center">
      <!-- About Thumbnail -->
      <div class="col-12 col-lg-6">
        <div class="about-us-thumbnail mb-80">
          <img src="../../../../assets/img/zudi/zudimobile-m.png" alt="">
          <!-- Video Area -->
          <div class="uza-video-area hi-icon-effect-8">
            <a href="../../../../assets/img/zudi/intro.mp4" class="hi-icon video-play-btn"><i class="fa fa-play" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>

      <!-- About Us Content -->
      <div class="col-12 col-lg-6" dir="rtl">
        <div class="section-heading mb-5" style="text-align: center">
          <h2>من نحن</h2>
        </div>

        <div class="about-us-content mb-80">

          <!-- Mona Tab Content -->
          <div class="about-tab-content">
            <div class="tab-content" id="mona_modelTabContent">
              <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="tab1">
                <!-- Tab Content Text -->
                <div class="tab-content-text" style="text-align: right">
                  <p >
                    تم تأسيس شركة زودي بهدف معالجة مشاكل السائح المالية في إيران وإتاحة فرصة الدفع الالكتروني عبر الهاتف مما يضمن شراء الخدمات والسلع والحجز الشقق والفنادق بالأسعار الحقيقية والتخلص من السماسرة، بالإضافة إلى توفير حزمة كبيرة من الخدمات الالكترونية للسائح الكريم مثل بطاقات الدخول إلى المرافق السياحية والتي تعرض الكترونياً بأسعار مخفضة حتى 50%، من أهدافنا تسهيل التحويلات المالية بين العراق وإيران وعرض كل ما يحتاجه السائح في تطبيق واحد يستعمله من دون مغادرة منزله أو فندقه وبالتالي يختصر عليه الوقت والمسافة وتكاليف الطريق. نقدم حالياً خدمات جوالة مثل التصريف الجوال وتذاكر الطائرات والقطارات الجوالة، حيث يزورك المندوب في المكان الذي تحدده؛ وفي المستقبل القريب سنكشف عن خدمات أسعر وأكثر تطوراً إن شاء الله.
                    تقع شركة زودي في مبنى التقنيات المالية التابع لبنك أنصار الإيراني في حي بروجردي، ويتكون فريق العمل من عراقيين مقيمين في إيران وإيرانيين بالإضافة إلى الاشراف المباشر للبنك على عمل الشركة.
                  </p>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- About Background Pattern -->
  <div class="about-bg-pattern">

    <img src="../../../../assets/img/core-img/curve-2.png" alt="">
  </div>
</section>
<!-- ***** About Us Area End ***** -->

<!-- ***** Why Choose Us Area Start ***** -->
<section class="uza-why-choose-us-area">
  <div class="container">
    <div class="row align-items-center">
      <!-- Choose Us Content -->
      <div class="col-12 col-lg-6" dir="rtl">
        <div class="choose-us-content mb-80">
          <div class="section-heading mb-4">
            <h3 style="text-align: center">لماذا زودي</h3>
          </div>
          <ul>
            <li><i class="fa fa-check" aria-hidden="true"></i>تصريف الدولار وأنت في مكانك </li>
            <li><i class="fa fa-check" aria-hidden="true"></i> شراء تذاكر الطائرات والقطارات وأنت في مكانك </li>
            <li><i class="fa fa-check" aria-hidden="true"></i> خدمات مالية سريعة </li>
            <li><i class="fa fa-check" aria-hidden="true"></i> محفظة الكترونية عربية للسائح العراقي في إيران (قيد التطوير) </li>
          </ul>
        </div>
      </div>
      <!-- Choose Us Thumbnail -->
      <div class="col-12 col-lg-6">
        <div class="choose-us-thumbnail mb-80">
          <img class="w-100" src="../../../../assets/img/why_choose_us.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ***** Why Choose Us Area End ***** -->


<!-- ***** CTA Area Start ***** -->
<!--<div class="uza-cta-area">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-lg-8">
        <div class="cta-content mb-80">
          <h2>Interested in working with us?</h2>
          <h6>Hit the button below or give us a call!</h6>
        </div>
      </div>

      <div class="col-12 col-lg-4">
        <div class="cta-content mb-80">
          <div class="call-now-btn">
            <a href="#"><span>Call us now:</span> (+65) 1234 5678</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>-->
<!-- ***** CTA Area End ***** -->

<!-- ***** Client Feedback Area Start ***** -->
<div class="clients-feedback-area section-padding-0-80 clearfix">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <!-- Testimonial Slides -->
        <div class="testimonial-slides owl-carousel">

          <!-- Single Testimonial Slide -->
          <div class="single-testimonial-slide d-flex align-items-center">
            <!-- Testimonial Thumbnail -->
            <div class="testimonial-thumbnail">
              <img src="../../../../assets/img/users/feedback/MohamadAL-mosawy.jpg" alt="">
            </div>
            <!-- Testimonial Content -->
            <div class="testimonial-content">
              <h4>موقع جيد وسريع ويقدم معلومات دقيقة</h4>
              <!-- Ratings -->
              <div class="ratings">
                <i class="icon_star"></i>
                <i class="icon_star"></i>
                <i class="icon_star"></i>
                <i class="icon_star"></i>
                <i class="icon_star"></i>
              </div>
              <!-- Author Info -->
              <div class="author-info">
                <h5>Mohamad AL-mosawy </h5>
              </div>
              <!-- Quote Icon -->
              <div class="quote-icon"><img src="../../../../assets/img/core-img/quote.png" alt=""></div>
            </div>
          </div>
          <!-- Single Testimonial Slide -->
          <div class="single-testimonial-slide d-flex align-items-center">
            <!-- Testimonial Thumbnail -->
            <div class="testimonial-thumbnail">
              <div class="quote-icon"><img src="../../../../assets/img/users/feedback/aghil.jpg" alt=""></div>
            </div>
            <!-- Testimonial Content -->
            <div class="testimonial-content">
              <h4>موقع رائع يضعك في الصورة لاسعار العملات بدقة عالية شكرا لكم</h4>
              <!-- Ratings -->
              <div class="ratings">
                <i class="icon_star"></i>
                <i class="icon_star"></i>
                <i class="icon_star"></i>
                <i class="icon_star"></i>
                <i class="icon_star"></i>
              </div>
              <!-- Author Info -->
              <div class="author-info">
                <h5>عقيل بلادي‎ </h5>
              </div>
              <!-- Quote Icon -->
              <div class="quote-icon"><img src="../../../../assets/img/core-img/quote.png" alt=""></div>

            </div>
          </div>
          <div class="single-testimonial-slide d-flex align-items-center">
            <!-- Testimonial Thumbnail -->
            <div class="testimonial-thumbnail">
              <img src="../../../../assets/img/users/feedback/AbbasSbaeeh.jpg" alt="">
            </div>
            <!-- Testimonial Content -->
            <div class="testimonial-content">
              <h4>موقع. ممتاز واخباره صادقه.. ويتطور ..جزا الله العاملين عليه..</h4>
              <!-- Ratings -->
              <div class="ratings">
                <i class="icon_star"></i>
                <i class="icon_star"></i>
                <i class="icon_star"></i>
                <i class="icon_star"></i>
                <i class="icon_star"></i>
              </div>
              <!-- Author Info -->
              <div class="author-info">
                <h5>Abbas Sbaeeh</h5>
              </div>
              <!-- Quote Icon -->
              <div class="quote-icon"><img src="../../../../assets/img/core-img/quote.png" alt=""></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ***** Client Feedback Area End ***** -->

<!-- ***** Cool Facts Area Start ***** -->
<div class="uza-cf-area section-padding-80-0">
  <div class="container">
    <div class="row">

      <!-- Single Cool Facts Area -->
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="single-cf-area d-flex align-items-center mb-80">
          <h2><span class="counter">1570</span></h2>
          <div class="cf-text">
            <h6>حجز <br>تذاكر</h6>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="single-cf-area d-flex align-items-center mb-80">
          <h2><span class="counter">2473</span></h2>
          <div class="cf-text">
            <h6>عدد <br>الطلبات </h6>
          </div>
        </div>
      </div>
      <!-- Single Cool Facts Area -->
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="single-cf-area d-flex align-items-center mb-80">
          <h2><span class="counter">237</span></h2>
          <div class="cf-text">
            <h6>عدد  <br> التحويلات المالية </h6>
          </div>
        </div>
      </div>

      <!-- Single Cool Facts Area -->
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="single-cf-area d-flex align-items-center mb-80">
          <div class="cf-text">
            <h6> عدد    <br>  المستخدمين</h6>
          </div>
          <h2><span class="counter" > 8500 </span></h2>

<!--
          <div class="bg-icon" style="margin-right: 50px; margin-left: 50px" ><i class="icon_profile"></i></div>
-->
        </div>
      </div>

    </div>
  </div>
</div>
<!-- ***** Cool Facts Area End ***** -->
