
<!-- ***** Contact Area Start ***** -->
<section class="uza-contact-area section-padding-80">
  <div class="container">
    <div class="row justify-content-between">
      <!-- Contact Form -->
      <div class="col-12 col-lg-8" dir="rtl">
        <div class="uza-contact-form mb-80">
          <div class="contact-heading mb-50" style="text-align: right">
            <h4>شكراً لاهتمامك؛
              <br> يرجى تعبئة الاستمارة للاستفسار عن عملنا.</h4>
          </div>
          <form action="#" method="post">
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <input type="text" class="form-control mb-30" name="full-name" placeholder="الاسم">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <input type="email" class="form-control mb-30" name="email" placeholder="البريد الالكتروني">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <input type="text" class="form-control mb-30" name="full-name" placeholder="رقم الهاتف">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <input type="text" class="form-control mb-30" name="email" placeholder="اسم الشركة">
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <textarea class="form-control mb-30" name="message" rows="8" cols="80" placeholder="الرسالة"></textarea>
                </div>
              </div>
              <div class="col-12">
                <button class="btn uza-btn btn-3 mt-15">ارسل </button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <!-- Single Contact Card -->
      <div class="col-12 col-lg-3" dir="rtl" style="text-align: right">
        <div class="contact-sidebar-area mb-80">
          <!-- Single Sidebar Area -->
          <!-- Single Sidebar Area -->
          <div class="single-contact-card mb-50">
            <h4>إيران- طهران</h4>
            <h3 dir="ltr">(+98) 9053307880</h3>
            <h6> تقاطع طريق الإمام علي (عليه السلام) السريع مع طريق بعثت السريع،<br>
              حي بروجردي، شارع، شارع الشهيد همت، مبنى بنك أنصار، الطابق الثاني.<br>info@zudipay.com</h6>
          </div>


        </div>
      </div>
    </div>


  </div>
</section>
<!-- ***** Contact Area End ***** -->
