<!-- Preloader -->
<div id="preloader">
  <div class="wrapper">
    <div class="cssload-loader"></div>
  </div>
</div>

<!-- ***** Top Search Area Start ***** -->
<!--
<app-search-top></app-search-top>
-->
<!-- ***** Top Search Area End ***** -->

<app-header></app-header>

<router-outlet></router-outlet>

<!-- ***** Footer Area Start ***** -->
<app-footer></app-footer>
<!-- ***** Footer Area End ***** -->

<!-- ******* All JS Files ******* -->
<!-- jQuery js -->
<script src="../assets/js/jquery.min.js"></script>
<!-- Popper js -->
<script src="../assets/js/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="../assets/js/bootstrap.min.js"></script>
<!-- All js -->
<script src="../assets/js/uza.bundle.js"></script>
<!-- Active js -->
<script src="../assets/js/default-assets/active.js"></script>
