<nav class="classy-navbar justify-content-between" id="uzaNav">

  <!-- Logo -->
  <a class="nav-brand" href="index.html"><img src="../assets/img/zudi/logo.png" alt=""></a>

  <!-- Navbar Toggler -->
  <div class="classy-navbar-toggler">
    <span class="navbarToggler"><span></span><span></span><span></span></span>
  </div>

  <!-- Menu -->
  <div class="classy-menu">
    <!-- Menu Close Button -->
    <div class="classycloseIcon">
      <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
    </div>

    <!-- Nav Start -->
    <div class="classynav" style="margin-right: 90px">
      <ul id="nav" dir="rtl">
        <li class="current-item"><a href="./index.html">خانه</a></li>
        <li><a href="#">سرویس ها  </a>
          <ul class="dropdown">
              <li><a href="#">اقامتگاه</a>
                <ul class="dropdown">
                  <li><a href="./blog.html"> هتل</a></li>
                  <li><a href="./single-blog.html"> اتاق</a></li>
                </ul>
              </li>
              <li><a href="#">بلیط</a>
                <ul class="dropdown">
                  <li><a href="./blog.html"> قطار</a></li>
                  <li><a href="./single-blog.html"> هواپیما</a></li>
                  <li><a href="./single-blog.html"> اتوبوس</a></li>
                </ul>
              </li>
              <li><a href="#">صرافی</a></li>
          </ul>
        </li>
        <li><a href="./contact.html">تماس با ما</a></li>
        <li><a href="./contact.html"> درباره ی ما</a></li>

      </ul>
     <!-- <div class="get-a-quote ml-4 mr-3">
        <div style="width: 50px;"></div>
      </div>-->

      <!-- Get A Quote -->
  <!--
      &lt;!&ndash; Login / Register &ndash;&gt;
      <div class="login-register-btn mx-3">
        <a href="#">Login <span>/ Register</span></a>
      </div>-->

      <!-- Search Icon -->
  <!--    <div class="search-icon" data-toggle="modal" data-target="#searchModal">
        <i class="icon_search"></i>
      </div>-->
    </div>
    <!-- Nav End -->

  </div>
</nav>



